@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

.page {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: stretch;
    width: 1000px;
}

.header {
    align-self: center;
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
}

.post {
    border: #656565 solid 3px;
    border-radius: 10px;
    margin: 10px 5px;
    padding: 1em;
    background-color: #FFF;
    transition: background-color .25s;
}
.post:hover {
    background-color: #ffece5;
}

.post-title {
    font-size: 1.25em;
    font-weight: bold;
}

a:link,
a:visited,
.link:link,
.link:visited {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #FF4500;
}

.link:hover {
    color: #0079D3
}

